/* You can add global styles to this file, and also import other style files */
body {
    background-color:#212329;
    color: #ECECED;
    font-family: Railway sans-serif;
}

.logo-full-name {
    /* width: 200px ; */
    height:50px;
    box-sizing: border-box;
    display: block;
    position: relative;
    /* object-fit: fill; */
    /* background-size: 100px 133px;  */
    background-repeat: no-repeat;
}