<h2>East Valley Institute of Awesomeness</h2>
<p>Student Roster</p>

<p>
  <button class="btn btn-primary" (click)='onNewStudent()'>New Student</button>
</p>

<div class='table-responsive'>
    <table class='table table-striped'
            *ngIf='students && students.length'>
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birth Date</th>
                <th>Grade Level</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let student of students'>
                <td>
                  <button type="button" class="close" aria-label="Close" (click)='onDeleteStudent(student)'>
                    <span aria-hidden="true">&times;</span>
                  </button>
                </td>
                <td>{{ student.id }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.birthDate | date: 'short' }}</td>
                <td>{{ student.gradeLevel }}</td>
            </tr>
        </tbody>
    </table>
</div>
